#alerta {
    background-color: red;
    color: white;
    font-size: 50px;
    border-radius: 20px;
}

.ceulimpo {
    background-color: dodgerblue;
    font-size: 20px;
    color: antiquewhite;
}

.nublado {
    background-color: darkblue;
    color: whitesmoke;
}

#cores {
    height: 300px;
    width: 200px;
}

.verde {
    background-color: green;
}

.vermelho {
    background-color: crimson;
}

.amarelo {
    background-color: darkgoldenrod;
}

#listaCarros,
th,
td {
    border: 1px solid black;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo {
    text-align: center;
}

tr th{
    background-color: gray;
}

tr:nth-last-child(even){
    background-color: antiquewhite;
}

button{
    background-color: darkblue;
    color: whitesmoke;
}
