#alerta{
    background-color: red;
    color: white;
    font-size: 50px;
    border-radius: 20px;
}

.ceulimpo{
    background-color: dodgerblue;
    font-size: 20px;
    color: antiquewhite;
}

.nublado{
    background-color: darkblue;
    color: whitesmoke;
}

#cores{
    height: 300px;
    width: 200px;
}

.verde{
    background-color: green;
}

.vermelho{
    background-color: crimson;
}

.amarelo{
    background-color: darkgoldenrod;
}